@use 'vars';

p, h1, h2, h3, h4, h5 {
  text-wrap: pretty;
}

.barlow {
  font-family: vars.$font-body;
  font-style: normal;
  &-regular {
    font-weight: 400;
    &-italic {
      font-style: italic;
    }
  }
  &-bold {
    font-weight: 700;
    &-italic {
      font-style: italic;
    }
  }
}

.barlow-condensed {
  font-family: vars.$font-condensed;
  font-style: normal;
  &-extrabold {
    font-weight: 800;
    &-italic {
      font-style: italic;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: vars.$font-condensed;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.3;
}

p {
  margin: 0 0 1rem;
  max-width: 75ch;
  line-height: 1.5;
  @include vars.breakpoint(m) {
    max-width: 100%;
  }
}

.u-heading {
  &--xl {
    font-size: 8rem;
    line-height: 0.9;
    margin-bottom: 1rem;
    margin-left: -3px;
    font-weight: 800;
    @include vars.breakpoint(s) {
      font-size: 34vw;
    }
  }
  &--l {
    font-size: 5rem;
    line-height: 0.9;
    @include vars.breakpoint(s) {
      font-size: 18vw;
    }
  }
  &--m {
    font-size: 2rem;
    line-height: 1;
    @include vars.breakpoint(s) {
      font-size: 9vw;
    }
  }
  &--s {
    font-size: 1.5rem;
  }
}

.u-font-size--medium {
  font-size: 1.25rem;
}



