@use 'vars';


.u-img--round {
  display: flex;
  border-radius: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  @include vars.breakpoint(s) {
    width: 100%;
    height: auto;
  }
}

.headshot {
  width: 15rem;
  height: 15rem;
}

.featured-work-description {
  container: featured / inline-size;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 50rem;
  align-self: center;
  gap: 2.5rem;
  flex-direction: row;
  @include vars.breakpoint(m) {
    flex-direction: column;
    li {
      padding-bottom: 1.25rem;
    }
  }
}

.past-work {
  max-width: 50rem;
  margin: 0 auto;
  table {
    border: 1px solid vars.$color-gray;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    caption {
      margin: 0 0 1.5rem;
    }

    tr {
      border: 1px solid vars.$color-medium-gray;
      padding: 0.5rem;
    }

    th, td {
      padding: 1rem;
    }
    th {
      font-weight: 700;
      text-transform: uppercase;
      text-align: left;
      background-color: vars.$color-gray;
    }
  }

  @media screen and (max-width: 600px) {
    table {
      border: 0;

      caption {
        font-size: 1.3em;
      }

      thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      tr {
        display: block;
        margin-bottom: .625em;
      }

      td {
        display: block;
        font-size: .8em;
        padding: 0;
        &:before {
          content: attr(data-label);
          //float: left;
          font-weight: bold;
          text-transform: uppercase;
          display: none;
        }
        &:last-child {
          border-bottom: 0;
          display: none;
        }
        a {
          display: block;
        }
      }
    }
  }
}




