$font-body: "Barlow", sans-serif;
$font-condensed: "Barlow Condensed", sans-serif;

$color-sea-green: #026670;
$color-mint: #9FEDD7;
$color-creme: #FEF9C7;
$color-sand: #FCE181;
$color-dark-gray: #666;
$color-medium-gray: #dddddd;
$color-gray: #EDEAE5;
$color-body: #010101;

$spacing-xl: 6rem;
$spacing-l: 4rem;
$spacing-m: 2rem;
$spacing-s: 1rem;

$section-padding: 6rem 0;
$section-padding-mobile: 3rem 0;

@mixin breakpoint($point) {
  @if $point == s {
    @media (max-width: 430px) { @content; }
  }
  @else if $point == m {
    @media (max-width: 1024px) { @content; }
  }
  @else if $point == l {
    @media (max-width: 1919.5px) { @content; }
  }
  @else if $point == xl {
    @media (min-width: 1920px) { @content; }
  }
}
